{% if data is not null %}
    <a href="{{ url('sylius_admin_admin_user_update', {'id': data.id}) }}">{{ data.firstName ~ ' ' ~ data.lastName }} ({{ data.username }})</a>
{% else %}
    ---
{% endif %}
