<div class="column">
    <h4 class="ui top attached styled header">
        {{ ('sylius.ui.shipment')|trans }}
    </h4>
    {% for shipment in order.shipments %}
        <div class="ui attached segment" id="order-changes">
            {{ render(url('brille24_admin_partial_shipment_log_entry_index', {'id': shipment.id})) }}
        </div>
    {% endfor %}
</div>
